@font-face {
    font-family: 'Freedoomed Demo';
    src: url('FreedoomedDemo.eot');
    src: url('FreedoomedDemo.eot?#iefix') format('embedded-opentype'),
        url('FreedoomedDemo.woff2') format('woff2'),
        url('FreedoomedDemo.woff') format('woff'),
        url('FreedoomedDemo.ttf') format('truetype'),
        url('FreedoomedDemo.svg#FreedoomedDemo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmazDooMLeft';
    src: url('AmazDooMLeft.eot');
    src: url('AmazDooMLeft.eot?#iefix') format('embedded-opentype'),
        url('AmazDooMLeft.woff2') format('woff2'),
        url('AmazDooMLeft.woff') format('woff'),
        url('AmazDooMLeft.ttf') format('truetype'),
        url('AmazDooMLeft.svg#AmazDooMLeft') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

